<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.kirilov.ivan.myfinance" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_wallet"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CreateAccActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.LoginActivity"/>
        </activity>

        <activity
            android:name=".FirebaseMainActivity"
            android:label="@string/main_screen_title"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".FirebaseHistoryActivity"
            android:label="@string/history_title"
            android:screenOrientation="portrait"
            android:parentActivityName="com.kirilov.ivan.myfinance.FirebaseMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.FirebaseMainActivity"/>
        </activity>

        <activity
            android:name=".FirebaseMonthActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.kirilov.ivan.myfinance.FirebaseHistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.FirebaseHistoryActivity"/>
        </activity>

        <activity
            android:name=".FirebaseIncomeActivity"
            android:label="@string/income_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.kirilov.ivan.myfinance.FirebaseMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.FirebaseMainActivity"/>
        </activity>

        <activity
            android:name=".FirebaseExpenseActivity"
            android:label="@string/expense_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.kirilov.ivan.myfinance.FirebaseMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.FirebaseMainActivity"/>
        </activity>

        <activity
            android:name=".FirebaseTransferActivity"
            android:label="@string/transfer_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.kirilov.ivan.myfinance.FirebaseMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.FirebaseMainActivity"/>
        </activity>

        <activity
            android:name=".FirebaseAnalyzeActivity"
            android:label="@string/analyze_title"
            android:screenOrientation="portrait"
            android:parentActivityName="com.kirilov.ivan.myfinance.FirebaseMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.FirebaseMainActivity"/>
        </activity>

        <activity
            android:name=".FirebaseDetailsActivity"
            android:label="@string/trans_details_title"
            android:screenOrientation="portrait"
            android:parentActivityName="com.kirilov.ivan.myfinance.FirebaseMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.FirebaseMainActivity"/>
        </activity>

        <activity
            android:name=".FirebaseWalletsActivity"
            android:label="@string/edit_wallets_title"
            android:screenOrientation="portrait"
            android:parentActivityName="com.kirilov.ivan.myfinance.FirebaseMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.FirebaseMainActivity"/>
        </activity>

        <activity
            android:name=".FirebaseCreateWalletActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:parentActivityName="com.kirilov.ivan.myfinance.FirebaseWalletsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.FirebaseWalletsActivity"/>
        </activity>

        <activity
            android:name=".FirebaseCategoriesActivity"
            android:label="@string/edit_categories_title"
            android:screenOrientation="portrait"
            android:parentActivityName="com.kirilov.ivan.myfinance.FirebaseMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.FirebaseMainActivity"/>
        </activity>

        <activity
            android:name=".FirebaseCreateCategoryActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:parentActivityName="com.kirilov.ivan.myfinance.FirebaseCategoriesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.FirebaseCategoriesActivity"/>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SettingsTheme"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>



        <!-- OLD ACTIVITIES -->
        <activity
            android:name=".junk_yard.TestFirebaseDb"
            android:label=""
            android:screenOrientation="portrait"
            android:parentActivityName="com.kirilov.ivan.myfinance.FirebaseMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.FirebaseMainActivity"/>
        </activity>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".HistoryActivity"
            android:label="@string/history_title"
            android:screenOrientation="portrait"
            android:parentActivityName="com.kirilov.ivan.myfinance.FirebaseMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.FirebaseMainActivity"/>
        </activity>

        <activity
            android:name=".PieMonthlyActivity"
            android:label="@string/pie_monthly_title"
            android:screenOrientation="portrait"
            android:parentActivityName="com.kirilov.ivan.myfinance.HistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.HistoryActivity"/>
        </activity>

        <activity
            android:name=".AddIncomeActivity"
            android:label="@string/addCredit_title"
            android:screenOrientation="portrait"
            android:parentActivityName="com.kirilov.ivan.myfinance.FirebaseMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.FirebaseMainActivity"/>
        </activity>

        <activity
            android:name=".TransUpdateActivity"
            android:label="@string/trans_update_title"
            android:screenOrientation="portrait"
            android:parentActivityName=".FirebaseDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirebaseDetailsActivity"/>
        </activity>

        <activity
            android:name=".AddExpenseActivity"
            android:label="@string/addDebit_title"
            android:screenOrientation="portrait"
            android:parentActivityName="com.kirilov.ivan.myfinance.FirebaseMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.FirebaseMainActivity"/>
        </activity>

    </application>
</manifest>
