<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirilov.ivan.myfinance" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_wallet_buddy_red_no_glow"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".CreateAccActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kirilov.ivan.myfinance.LoginActivity"/>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/main_screen_title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HistoryActivity"
            android:label="@string/history_title"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".MonthActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName=".HistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HistoryActivity"/>
        </activity>

        <activity
            android:name=".IncomeActivity"
            android:label="@string/income_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".ExpenseActivity"
            android:label="@string/expense_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".TransferActivity"
            android:label="@string/transfer_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".AnalyzeActivity"
            android:label="@string/analyze_title"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".DetailsActivity"
            android:label="@string/trans_details_title"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".WalletsActivity"
            android:label="@string/edit_wallets_title"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".CreateWalletActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".WalletsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WalletsActivity"/>
        </activity>

        <activity
            android:name=".CategoriesActivity"
            android:label="@string/edit_categories_title"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".CreateCategoryActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".CategoriesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoriesActivity"/>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SettingsTheme"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>

        <!-- TEST ACTIVITIES -->
        <activity
            android:name=".junk_yard.TestFirebaseDb"
            android:label=""
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
    </application>
</manifest>
